.Travel {
  display: flex;
  justify-content:flex-start;
  margin-top: 60px;
  padding: 0 150px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0 150px;
}

.Button_1 {
  margin-top: 40px;
}

.course-list-btn {
  display: flex;
  justify-content: flex-end;
}