html,
body{
  margin: 0;
  overflow: scroll;
}

/* 
body {
  overflow: auto;
}  /* 전체 페이지에 스크롤 허용 */


.TravelUpdate-post {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 530px;
  align-items: center;
  height: 100%;
}

.TravelUpdate-post input, textarea {
  height: 60px;
  width: 100%;
  border: 1px solid var(--gray-color-20);
  padding: 0 20px;
}

input:focus {
  outline: none;
}

.title {
  display: flex;
  gap: 50px;
  width: 100%;
  white-space: nowrap;
  align-items: center;
}

.TravelUpdate-post input:focus {
  outline: none;
  background-color: #fff;
}

.TravelUpdate-post select {
  height: 60px;
  border: 1px solid var(--gray-color-20);
  padding: 0 20px;
  width: 100%;
}

.selectGroup1, .selectGroup2 {
  display: flex;
  width: 100%;
  gap: 40px;
}

.selectRegion, .selectSeason {
  display: flex;
  gap: 65px;
  width: 50%;
  white-space: nowrap;
  align-items: center;
}

.selectCostType {
  display: flex;
  gap: 65px;
  width: 50%;
  white-space: nowrap;
  align-items: center;
}

.selectVehicle {
  display: flex;
  gap: 30px;
  width: 50%;
  white-space: nowrap;
  align-items: center;
}

.selectCategory {
  display: flex;
  gap: 40px;
  width: 100%;
  white-space: nowrap;
  align-items: center;
}

.date-picker {
  display: flex;
  gap: 20px;
  width: 100%;
  white-space: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container {
  display: flex !important;
}

.date-picker label {
  display: flex;
}

.TravelUpdate_btn {
  display: flex;
  gap: 20px;
}

.TravelUpdate_btn button {
  width: 200px; 
  height: 60px;
}

.TravelUpdate-textarea {
  width: 100%;
  display: flex;
  white-space: nowrap;
  gap: 65px;
}

.TravelUpdate-textarea textarea {
  padding-top: 20px;
}