# dependencies
node_modules/

# production
build/
dist/

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# Windows
Thumbs.db

# Mac
.DS_Store

# Logs
*.log

# macOS 시스템 파일
.DS_Store

# 특정 위치에 있는 폴더 무시
/server/server/src/main/generated/
/server/server/src/main/resources/

# 또는 전체 패턴
**/generated/
**/resources/
